{"filter":false,"title":"django.config","tooltip":"/.ebextensions/django.config","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":2,"column":14},"end":{"row":2,"column":23},"action":"remove","lines":["food_dash"],"id":2},{"start":{"row":2,"column":14},"end":{"row":2,"column":24},"action":"insert","lines":["food_house"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1784106136585,"hash":"fa9a65085601926910967ff39fc67df12180efa2"}